@use "mixins.scss";
@use "variables.scss";

/* // -------------------------- GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
}

body {
    margin: 0 auto;
    overflow-x: hidden;
    color: white;
}

h1 {
    /* @mixin fontStyles ($fontFamily, $fontSize, $lineHeight) */
    @include mixins.fontStyles(variables.$fontFamilyHeadlines, 8vw, 7vw);
    padding: 2vh 10%;
}

h2 {
    @include mixins.fontStyles(variables.$fontFamilyHeadlines, 6vw, 7vw);
    padding: 2vh 10%;
}

h3 {
    @include mixins.fontStyles(variables.$fontFamilyHeadlines, 3.5rem, auto);
}

h4 {
    @include mixins.fontStyles(variables.$fontFamilyHeadlines, 2vw, auto);
}

p {
    @include mixins.fontStyles(variables.$fontFamilyText, 0.8rem, 1rem);
}

a {
    text-decoration: none;
    color: white;
    font-family: variables.$fontFamilyText;
    border: 1px solid white;
    padding: 1.5vh 3%;
}

a:hover {
    background-color: white;
    color: black;
}

/* // -------------------------- TITLE PAGE */
header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 10vh;

    #title {
        flex-direction: column;
        text-align: center;
        width: 60%;

        img {
            /* line at the top */
            width: 1px;
            height: 20vh;
            position: absolute;
            top: 2vh;
            left: 50%;
        }

        span {
            /* border for the word "calling" */
            text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
            color: black;
        }
    }

    #iconLink {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 10%;
        position: absolute;
        top: 80vh;
    }
}

/* // -------------------------- SECOND PAGE: STATISTICS */
#statistics {
    @include mixins.backgroundImage("../img/map.svg", no-repeat, 40%, 95% 70%);
    position: relative;

    h2 {
        padding-bottom: 20vh;
    }

    article {
        padding: 5vh 10%;
    }

    article:last-of-type {
        padding-bottom: 15vh;
    }
}

/* // -------------------------- THIRD PAGE: IMAGES */
#textInbetweenImages {
    background-color: white;
    position: relative;

    h2 {
        padding-top: 50vh;
        color: black;
        width: 56%;
        margin: 0 auto;
    }

    p {
        color: black;
        width: 35%;
        margin: 0 auto 80vh auto;
        font-variation-settings: "wght" 600;
    }

    p:last-of-type {
        padding-bottom: 30vh;
        margin: 0 auto;
    }

    article {
        img {
            width: 25%;
            object-fit: contain;
            position: absolute;
        }

        img:nth-of-type(1) {
            top: -2%;
            right: 10%;
            width: 25%;
        }

        img:nth-of-type(2) {
            top: 10%;
            left: 5%;
        }

        img:nth-of-type(3) {
            top: 35%;
            right: 0;
        }

        img:nth-of-type(4) {
            top: 50%;
            left: 20%;
            width: 25%;
        }

        img:nth-of-type(5) {
            top: 60%;
            left: 60%;
            width: 25%;
        }

        img:nth-of-type(6) {
            top: 70%;
            left: 0;
        }

        img:nth-of-type(7) {
            top: 90%;
            left: 60%;
            width: 25%;
        }
    }
}

/* // -------------------------- FORTH PAGE: THE GOLDEN BEAR */
#goldenBearSection {
    display: flex;
    position: relative;

    img {
        position: absolute;
    }

    img:nth-of-type(1) {
        width: 45%;
        bottom: -10%;
        left: 15%;
        z-index: 1;
    }

    img:nth-of-type(2) {
        width: 25%;
        bottom: -5%;
        left: 55%;
        z-index: 1;
    }
}

/* // -------------------------- FIFTH PAGE: THE POPPY BEAR */
#poppyBearSection {
    background-color: white;
    position: relative;
    color: black;
    display: flex;
    overflow: hidden;

    img {
        width: 20%;
        position: absolute;
    }

    img:nth-of-type(1) {
        position: absolute;
        top: -10%;
        right: -10%;
        width: 30%;

        animation: spin 10s linear infinite;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    img:nth-of-type(2) {
        width: 50%;
        bottom: 5%;
        left: 30%;
        z-index: 1;
    }

    img:nth-of-type(3) {
        width: 25%;
        bottom: 10%;
        left: 15%;
        z-index: 1;
    }
}

/* // -------------------------- THE GOLDEN BEAR & THE POPPY BEAR TITLE ARTICLES */
.textSectionArticles {
    padding: 40vh 10% 60% 10%;
    width: 40%;

    h2 {
        padding: 0;
    }
}

.textSectionArticles:last-of-type {
    width: 50%;

    h4 {
        padding-bottom: 3vh;
    }
}

/* // -------------------------- FOOTER */
footer {
    position: relative;
    overflow: hidden;

    #footerSection {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0 10vw 10vh 10vw;

        article {
            width: 35%;
        }

        p {
            margin-bottom: 2vh;
        }

        h4 {
            margin-bottom: 5vh;
        }

        #socials a {
            border: none;
            width: 20px;
            height: 20px;
            padding: 0 1% 0 0;
        }

        #socials img {
            width: 20px;
            height: 20px;
            object-fit: contain;
            margin-top: 10vh;
        }

        #logos {
            justify-self: flex-end;
            width: auto;
            display: flex;
            align-items: center;
            gap: 20px;

            img {
                width: 100px;
            }
        }
    }
}

#dateSpinner {
    /* Footer Animation */
    position: absolute;
    z-index: -1;
    top: 0;
    left: 20%;
    transform: rotate(42deg);
    position: relative;
    display: flex;
    overflow: hidden;

    h2 {
        background-color: white;
        color: black;
        white-space: nowrap;
        padding: 0;
        margin: 0 -0.1vw;

        flex-shrink: 0;
        display: flex;
        justify-content: space-around;
        min-width: 100%;

        animation: scroll 10s linear infinite;

        @keyframes scroll {
            from {
                transform: translateX(0);
            }
            to {
                transform: translateX(-100%);
            }
        }

        span {
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            color: white;
            padding: 0 2vw;
        }
    }
}
