@mixin fontStyles($fontFamily, $fontSize, $lineHeight) {
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: $lineHeight;
}

@mixin backgroundImage($bgImageURL, $bgRepeat, $bgSize, $bgPosition) {
    background-image: url($bgImageURL);
    background-repeat: $bgRepeat;
    background-size: $bgSize;
    background-position: $bgPosition;
}
