@font-face {
    font-family: Lora;
    src: url(../fonts/Lora-VariableFont_wght.ttf);
}

@font-face {
    font-family: Work Sans;
    src: url(../fonts/WorkSans-VariableFont_wght.ttf);
}

$fontFamilyHeadlines: 'Lora';
$fontFamilyText: 'Work Sans';
